<nav class="site-nav" role="navigation">
  <div class="site-nav-inner">
    <a href="{{ .Site.Home.RelPermalink }}" class="site-nav-logo">
      {{ with .Site.Params.site_logo }}
        <img src="{{ urls.RelURL . }}" alt="{{ $.Site.Title }}">
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    {{ if .Site.Menus.main }}
    <ul class="site-nav-links">
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}" class="site-nav-link">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</nav>
